.u-t-cen {
  text-align: center;
}

.u-t-r {
  text-align: right;
}

%u-t-cen\@md,
.u-t-cen\@md {
  @include breakpoint-max(md) {
    &{
      text-align: center;
    }
  }
}

.u-flex-self--end {
  align-self: flex-end
}