.c-btn {
  display: block;
  padding: 10px 10px; 
  color: $white;
  cursor: pointer;
  align-self: flex-end;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  border: 5px solid $primary-color;
  transition: 400ms; 

  &:hover{
    background: transparentize($primary-color, 0.1)
  }

  &--dark {
    background: $black;
    color: $white;

    &:hover{
      background: transparentize($black, 0.2)
    }
  }

  &--container {
    display: flex;
    justify-content: space-between;
  

    > .c-btn {
      flex: 0 1 49%;
    }

    &--wrap {
      display: flex; 
      justify-content: center; 
      flex-wrap: wrap;

      > .c-btn {
        flex: 0 1 30%;
        margin: 10px 10px; 
        @include breakpoint-max(md) {
          flex: 0 1 45%;
        }
      }
    }
  }

  &-product {
    display: block;
    padding: 10px 10px;
    text-transform: uppercase;
    text-decoration: none;
    outline: 0; 
    font-size: 0.9em;
    cursor: pointer; 
  }

  &-category {
    display: block;
    padding: 10px 10px;
    text-transform: uppercase;
    text-decoration: none;
    outline: 0; 
    font-size: 0.9em;
    cursor: pointer; 
    border: 1px solid #707070;

    &:hover {
      transition: 400ms;
      background: #707070;
      color: $white;
    }
  }

  &--menu {
    width: 100%;
    display: block; 
    border-bottom: 1px solid #707070;
    text-align: center;
    cursor: pointer;
    transition: 500ms;
    
    &:hover {
      background: #eee;
    }
  }
}