header {
  width: 100%; 
  position: relative;

  &.header--store {
    background: #00B987;
    color: $white;
    border-top: 15px solid $black;
  }

  & .header{
    &__logo{
      height: 60px;
    }
  }
  
  & .header--sub{
    background: #007A5A;
    display: flex;
    justify-content: center;
  }
}