header {
  width: 100%; 
  position: relative;

  &.header--default {
    background: $primary-color;
    color: #fff;
  }

  &.header--store {
    background: $white;
    color: $black;
    border-top: 15px solid $black;
  }
  & .header{
    &__logo{
      height: 60px;
    }
  }
}