.o-header {
  width: 100%; 
  position: relative;
  background: #fff;
  color: $black;
  border-top: 10px solid $black;

  & .header{
    &__logo{
      height: 60px;
    }
  }
  
  &--sub{
    border-top: 2px solid $black;
    border-bottom: 2px solid $black;
    display: flex;
    // justify-content: flex-start;
  }
}