.o-nav {
  list-style: none;
  display: flex;

  li {
    padding-bottom: 20px 10px;
  }

  &--store {
    justify-content: flex-end;
    align-items: flex-end;

    li {
      padding-top: 10px;
      padding-bottom: 20px;
      cursor: pointer;

      &.o-nav__link{
        border-bottom: 5px solid $black;
        margin: 0 5px;

        &:hover {
          background: $black; 
          color: #fff;
        }
      }
    }
  }
}