.o-nav {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;

  li {
    cursor: pointer;

    .o-nav__link{
      margin: 0 5px; 
      padding-top: 10px;
      padding-bottom: 10px;
      display: block;

      a {
        display: block;
      }

      &:hover {
        background: $black; 
        color: #fff;
      }
    }
  }
}
